<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>

  <main class="dashboard">
      <section class="freeRooms">
        <% free.forEach(function (freeRoom) { %>
            <section class="room">
              <div class="header">
                <h2 class="room__name"><%= freeRoom.name %></h2>
                <div class="room__btns">
                  <input id="<%= freeRoom.name %>" class="checkbox" type="checkbox" name="book" value="<%= freeRoom.name %>" hidden>
                  <label class="btn btn__book" for="<%= freeRoom.name %>">book room</label>
                  <label class="btn btn__booked" for="<%= freeRoom.name %>">room booked</label>
                  <h3 class="free">available</h3>
                </div>
              </div>

              <div class="container">
                <div class="temp">
                  <div class="temp__bar" style="width: <%= freeRoom.tempCalc %>%"><p class="label">temperature</p><p class="value"><%= freeRoom.temp %>°C</p></div>
                </div>
                <div class="humidity">
                  <div class="humidity__bar" style="width: <%= freeRoom.humidity %>%"><p class="label">humidity</p><p class="value"><%= freeRoom.humidity %>%</p></div>
                </div>
                <div class="co2">
                  <div class="co2__bar" style="width: <%= freeRoom.co2Calc %>%"><p class="label">co²</p><p class="valueCo2"><%= freeRoom.co2 %></p></div>
                </div>

              </div>

            </section>
        <% }) %>
      </section>


      <section class="takenRooms">
        <% taken.forEach(function (takenRoom) { %>
          <section class="room">
            <div class="header">
              <h2 class="room__name"><%= takenRoom.name %></h2>
              <h3 class="taken">occupied</h3>
            </div>
          </section>
        <% }) %>
      </section>

  </main>

<% include partials/tail.ejs %>

</body>
</html>
